<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Points list</title>
</head>
<body>
  <h1>All records in the database</h1>
  <nav>
    <a href="{{ url_for('main.add') }}">Add a new point</a>
  </nav>
  <hr>

  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th>Lp.</th>
        <th>id</th>
        <th>Feature1</th>
        <th>Feature2</th>
        <th>Category</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for dp in datapoints %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ dp.id }}</td>
        <td>{{ dp.feature1 }}</td>
        <td>{{ dp.feature2 }}</td>
        <td>{{ dp.category }}</td>
        <td>
          <form action="{{ url_for('main.delete', record_id=dp.id) }}" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
